/* General Page Styles */
*{
  color: #fff;
  font-family: "Playfair Display", serif;
}
body {
  
  background: linear-gradient(135deg, #42045f, #cb6ce6);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  #feedback {
    background: linear-gradient(135deg, #42045f, #cb6ce6);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 600px;
    margin: 20px;
  }
  
  h2 {
    font-size: 28px;
    color: #f8eeee;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    color: #fffdfd;
    margin-bottom: 20px;
  }

  .bga{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 15px rgba(170, 0, 255, 0.4);
    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  /* Form Elements */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: white;
    margin-bottom: 8px;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    padding: 12px 20px;
    background: #a14ddc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  button:hover {
    background: #a04ddcc9;
  }
  
  button:active {
    background: #a14ddc;
  }
  
  /* Error Message */
  .error {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
  }
  
  /* Thank You Message */
  #thankYouMessage {
    text-align: center;
    padding: 20px;
    background-color: #e0f7e0;
    border: 1px solid #4CAF50;
    border-radius: 8px;
  }
  
  .hidden {
    display: none;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    #feedback {
      width: 90%;
    }
  }
  